$color: #18C3D8;
@import "mixins";

.aboutinfo{
    text-align: center;
    margin-bottom: 100px;

    h2{
        display: inline-block;
        font-size: 1.5em;
        padding: 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.0em;
        padding: 0 20vw;
        margin-bottom: 20px;

        @include respond-to(mobile){
            padding: 0 10vw;
        }
    }
}