.aboutinfo {
  text-align: center;
  margin-bottom: 100px; }
  .aboutinfo h2 {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #18C3D8;
    margin: 0 auto;
    margin-bottom: 20px; }
  .aboutinfo p {
    font-size: 1.0em;
    padding: 0 20vw;
    margin-bottom: 20px; }
    @media only screen and (max-width: 850px) {
      .aboutinfo p {
        padding: 0 10vw; } }
