$color: #18C3D8;
.clientPanels{
    .clients{
        // min-height: calc(100vh - 150px);
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0 10vw;
        justify-content: flex-start;

            .client{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
                margin-bottom: 2.5vw;
        
                img{
                    max-width: 20vw;
                    min-width: 200px;
                    margin: 0 2.5vw;
                    margin-bottom: 20px;
                }
                h4{
                    display: inline-block;
                    font-size: 1.2em;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                h4:hover{
                    cursor: pointer;
                    color:$color;
                }
                a:hover{
                    cursor: default;
                }
            }
    }
}