.clientPanels .clients {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0 10vw;
  justify-content: flex-start; }
  .clientPanels .clients .client {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.5vw; }
    .clientPanels .clients .client img {
      max-width: 20vw;
      min-width: 200px;
      margin: 0 2.5vw;
      margin-bottom: 20px; }
    .clientPanels .clients .client h4 {
      display: inline-block;
      font-size: 1.2em;
      margin: 0 auto;
      margin-bottom: 10px; }
    .clientPanels .clients .client h4:hover {
      cursor: pointer;
      color: #18C3D8; }
    .clientPanels .clients .client a:hover {
      cursor: default; }
