.contact {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px; }
  .contact .divider {
    display: flex;
    width: 2px;
    background: #18C3D8; }
    @media only screen and (max-width: 850px) {
      .contact .divider {
        display: none; } }
  @media only screen and (max-width: 850px) {
    .contact {
      justify-content: column-reverse; } }
  .contact .order, .contact .join {
    padding: 20px;
    margin: 0 3vw;
    width: 30vw;
    text-align: center; }
    @media only screen and (max-width: 850px) {
      .contact .order, .contact .join {
        width: 80vw;
        margin: 0;
        padding: 20px 0; } }
    .contact .order h2, .contact .join h2 {
      width: 100%;
      font-size: 1.5em;
      padding-bottom: 10px;
      border-bottom: 1px solid #18C3D8;
      margin-bottom: 10px; }
    .contact .order form, .contact .join form {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start; }
    .contact .order .inputcont, .contact .join .inputcont {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin: 20px auto;
      justify-content: space-around; }
      .contact .order .inputcont h4, .contact .join .inputcont h4 {
        padding: 10px;
        font-size: 1.1em;
        text-align: left; }
      .contact .order .inputcont input, .contact .join .inputcont input {
        width: 50%;
        outline: none;
        border: none;
        border-bottom: 1px solid #18C3D8;
        font-size: 1.0em;
        padding: 10px; }
      .contact .order .inputcont input[type=file], .contact .join .inputcont input[type=file] {
        outline: none; }
      .contact .order .inputcont textarea, .contact .join .inputcont textarea {
        padding: 10px;
        outline: none;
        resize: vertical;
        border: 1px solid #18C3D8;
        transition: all 0.1s ease; }
    .contact .order input[type=submit], .contact .join input[type=submit] {
      margin: 20px auto;
      color: black;
      background: none;
      outline: none;
      border: 1px solid #18C3D8;
      padding: 20px 30px;
      font-size: 1.1em;
      transition: all 0.3s ease; }
    .contact .order input[type=submit]:hover, .contact .join input[type=submit]:hover {
      cursor: pointer;
      background: #18C3D8; }
