$color: #18C3D8;
@import "mixins";

.contact{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .divider{
        display: flex;
        width: 2px;
        background: $color;

        @include respond-to(mobile){
            display: none;
        }
    }

    @include respond-to(mobile){
        justify-content: column-reverse;
    }

    .order, .join{
        padding: 20px;
        margin: 0 3vw;
        width: 30vw;
        // border: 2px solid $color;
        text-align: center;

        @include respond-to(mobile){
            width: 80vw;
            margin: 0;
            padding: 20px 0;
        }

        h2{
            width: 100%;
            font-size: 1.5em;
            padding-bottom: 10px;
            border-bottom: 1px solid $color;
            margin-bottom: 10px;
        }
        form{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
        }
        .inputcont{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            margin: 20px auto;
            justify-content: space-around;

            h4{
                padding: 10px;
                font-size: 1.1em;
                text-align: left;
            }
            input{
                width: 50%;
                outline: none;
                border: none;
                border-bottom: 1px solid $color;
                font-size: 1.0em;
                padding: 10px;
            }
            input[type=file]{
                outline: none;
            }
            textarea{
                padding:10px;
                outline: none;
                resize: vertical;
                border: 1px solid $color; 
                transition: all 0.1s ease;
            }
        }
        input[type=submit]{
            margin: 20px auto;
            color: black;
            background: none;
            outline: none;
            border: 1px solid $color;
            padding: 20px 30px;
            font-size: 1.1em;
            transition: all 0.3s ease;
        }
        input[type=submit]:hover{
            cursor: pointer;
            background: $color;
        }
    }
}