.footer {
  min-height: 50px;
  width: 100%; }
  .footer p {
    margin: 0 20px;
    line-height: 50px; }
    @media only screen and (max-width: 850px) {
      .footer p {
        text-align: center;
        line-height: 30px; } }
