@import "mixins";
.footer{
    min-height: 50px;
    width: 100%;
    
    p{
        margin: 0 20px;
        line-height: 50px;

        @include respond-to(mobile){
            text-align: center;
            line-height: 30px;
        }
    }
}