$color: #18C3D8;
@import "mixins";

.initiative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // background: #fafafa;
    
    /*
    h3{
        font-size: 1.5em;
        margin-bottom: 20px !important;
    }

    .panels{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .panel{
        border: 1px solid rgb(211, 211, 211);
        padding: 20px;
        margin: 0 10px;
        width: 20vw;
        background: #ffffff;

        h4{
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
    */

    .panel{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 20px;

        h3{
            font-size: 1.3em;
            padding: 10px;
            border-bottom: 1px solid $color;
            margin-bottom: 20px;
        }
        
        h2{
            font-size: 1.5em;
            margin: 0 5vw;
            border: none;
            opacity: .6;
        }
        .company{
            margin: 0 5vw;
            margin: auto 0;
            height: 2em;
            filter: grayscale(1);
            opacity: 0.5;
            transition: all 0.3s ease; 
        }
        .company:hover{
            cursor: pointer;
            opacity: 1;
            filter: grayscale(0);
        }

        .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25vw;
            margin: 0 5vw;

            @include respond-to(mobile){
                width: 90vw;
            }
            p{
                font-family: 'Oxygen-Light';
            }
        }

        .photo{
            height: 25vw;
            width: 25vw;
            // border-radius: 25vw;
            // background: $color;
            @include respond-to(mobile){
                width: 70vw;
                height: 70vw;
            }
        }
        .photoAnimated{
            height: 25vw;
            width: 25vw;
            border-radius: 0 !important;
            background: rgba(0,0,0,0) !important;

            @include respond-to(mobile){
                width: 70vw;
                height: 70vw;
            }
        }

        .option{
            padding: 50px;
            margin: 0 20px;
            // background: #ffffff;

            h3{
                border: none;
            }
            @include respond-to(mobile){
                margin: 0 10px;
            }
        }
        .divider{
            height: 100%;
            border: 1px solid $color;
        }
    }

    .panel:nth-child(even) {
        flex-direction: row-reverse;
        background:#ffffff;
    }
    .panel:nth-child(odd) {
        flex-direction: row;
        background:#fafafa;
    }
}