.initiative {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /*
    h3{
        font-size: 1.5em;
        margin-bottom: 20px !important;
    }

    .panels{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .panel{
        border: 1px solid rgb(211, 211, 211);
        padding: 20px;
        margin: 0 10px;
        width: 20vw;
        background: #ffffff;

        h4{
            font-size: 1.2em;
            margin-bottom: 10px;
        }
    }
    */ }
  .initiative .panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 20px; }
    .initiative .panel h3 {
      font-size: 1.3em;
      padding: 10px;
      border-bottom: 1px solid #18C3D8;
      margin-bottom: 20px; }
    .initiative .panel h2 {
      font-size: 1.5em;
      margin: 0 5vw;
      border: none;
      opacity: .6; }
    .initiative .panel .company {
      margin: 0 5vw;
      margin: auto 0;
      height: 2em;
      filter: grayscale(1);
      opacity: 0.5;
      transition: all 0.3s ease; }
    .initiative .panel .company:hover {
      cursor: pointer;
      opacity: 1;
      filter: grayscale(0); }
    .initiative .panel .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25vw;
      margin: 0 5vw; }
      @media only screen and (max-width: 850px) {
        .initiative .panel .info {
          width: 90vw; } }
      .initiative .panel .info p {
        font-family: 'Oxygen-Light'; }
    .initiative .panel .photo {
      height: 25vw;
      width: 25vw; }
      @media only screen and (max-width: 850px) {
        .initiative .panel .photo {
          width: 70vw;
          height: 70vw; } }
    .initiative .panel .photoAnimated {
      height: 25vw;
      width: 25vw;
      border-radius: 0 !important;
      background: transparent !important; }
      @media only screen and (max-width: 850px) {
        .initiative .panel .photoAnimated {
          width: 70vw;
          height: 70vw; } }
    .initiative .panel .option {
      padding: 50px;
      margin: 0 20px; }
      .initiative .panel .option h3 {
        border: none; }
      @media only screen and (max-width: 850px) {
        .initiative .panel .option {
          margin: 0 10px; } }
    .initiative .panel .divider {
      height: 100%;
      border: 1px solid #18C3D8; }
  .initiative .panel:nth-child(even) {
    flex-direction: row-reverse;
    background: #ffffff; }
  .initiative .panel:nth-child(odd) {
    flex-direction: row;
    background: #fafafa; }
