.landing {
  background: url("../../img/landingbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; }
  .landing h1, .landing h2 {
    border: none;
    margin-top: 10px !important;
    margin-bottom: 10px !important; }
    @media only screen and (max-width: 850px) {
      .landing h1, .landing h2 {
        padding: 10px 0; } }
  .landing button {
    margin: 0 auto;
    margin-top: 20px;
    background: white; }
  @media only screen and (max-width: 850px) {
    .landing {
      background: none; } }
