@import "mixins";
$color: #18C3D8;

.landing{
    background:url("../../img/landingbackground.png");
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1, h2{
        border: none;
        margin-top: 10px !important;
        margin-bottom: 10px !important;

        @include respond-to(mobile){
            padding: 10px 0;
        }
    }
    button{
        margin: 0 auto;
        margin-top: 20px;
        background: white;
    }

    @include respond-to(mobile){
        background: none;
    }
}