.navigation {
  width: calc(100% - 40px);
  position: fixed;
  top: 0px;
  padding: 20px;
  background: #ffffff;
  z-index: 1000; }
  @media only screen and (max-width: 850px) {
    .navigation {
      width: 100%;
      padding: 0;
      text-align: right; } }
  .navigation #menu {
    display: none;
    font-size: 1.5em; }
    @media only screen and (max-width: 850px) {
      .navigation #menu {
        display: inline-block;
        padding: 20px; } }
  .navigation #links {
    display: flex;
    justify-content: flex-end; }
    @media only screen and (max-width: 850px) {
      .navigation #links {
        position: absolute;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        background: #ffffff;
        display: none; } }
    .navigation #links h4 {
      margin: 0 20px;
      transition: all 0.3s ease; }
      @media only screen and (max-width: 850px) {
        .navigation #links h4 {
          text-align: center;
          font-size: 2em;
          margin: 10px 0; } }
    .navigation #links h4:hover {
      cursor: pointer;
      color: #18C3D8; }
    .navigation #links #close {
      display: none; }
      @media only screen and (max-width: 850px) {
        .navigation #links #close {
          display: inline-block;
          font-size: 3em; } }
