@import "mixins";

.navigation {
    width: calc(100% - 40px);
    position: fixed;
    top: 0px;
    padding: 20px;
    background: #ffffff;
    z-index: 1000;

    @include respond-to(mobile){
        width: 100%;
        padding: 0;
        text-align: right;
    }

    #menu{
        display: none;
        font-size: 1.5em;

        @include respond-to(mobile){
            display: inline-block;
            padding: 20px;
        }
    }
    
    #links{
        display: flex;
        justify-content: flex-end;

        @include respond-to(mobile){
            position: absolute;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            background: #ffffff;
            display: none;
        }
        h4 {
            margin: 0 20px;
            transition: all 0.3s ease; 

            @include respond-to(mobile){
                text-align: center;
                font-size: 2em;
                margin: 10px 0;
            }
        }
        h4:hover {
          cursor: pointer;
          color: #18C3D8; 
        }

        #close{
            display: none;

            @include respond-to(mobile){
                display: inline-block;
                font-size: 3em;
            }
        }
    }
}