.pricingpanelscont .pricingpanels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px; }
  .pricingpanelscont .pricingpanels .panel:nth-child(odd) {
    padding-top: 50px; }
  .pricingpanelscont .pricingpanels .panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin: 10px;
    width: 20vw; }
    .pricingpanelscont .pricingpanels .panel .label {
      padding: 10px;
      border-bottom: 1px solid #18C3D8;
      background: #18C3D8;
      text-align: center; }
    .pricingpanelscont .pricingpanels .panel h2 {
      margin-top: 10px;
      text-align: center;
      font-size: 1.5em; }
    .pricingpanelscont .pricingpanels .panel h3 {
      font-size: 1.0em;
      letter-spacing: 1px;
      font-weight: normal;
      color: white;
      padding-bottom: 10px; }
    .pricingpanelscont .pricingpanels .panel p {
      padding: 10px;
      margin: 20px 0;
      font-size: 1.0em; }
    .pricingpanelscont .pricingpanels .panel ul {
      padding: 10px 30px;
      list-style: square; }
      .pricingpanelscont .pricingpanels .panel ul li {
        font-family: 'Oxygen-Light';
        margin: 5px 0; }
      .pricingpanelscont .pricingpanels .panel ul li::before {
        left: 0;
        top: 7px;
        position: absolute;
        height: 2px;
        width: 5px;
        background: #18C3D8;
        margin: auto 0;
        margin-right: 10px; }
  .pricingpanelscont .pricingpanels .panel:nth-child(odd) {
    background: #ffffff; }
  .pricingpanelscont .pricingpanels .panel:nth-child(even) {
    background: #fafafa; }
