$color: #18C3D8;
.pricingpanelscont{
    .pricingpanels{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 50px;

        .panel:nth-child(odd){
            padding-top: 50px;
        }

        .panel{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            // padding: 20px;
            text-align: left;
            margin: 10px;
            width: 20vw;

            .label{
                padding: 10px;
                // padding-bottom: 10px;
                border-bottom: 1px solid $color;
                background: $color;
                text-align: center;
            }

            h2{
                margin-top: 10px;
                text-align: center;
                font-size: 1.5em;
            }
            h3{
                font-size: 1.0em;
                letter-spacing: 1px;
                font-weight: normal;
                color:white;
                padding-bottom: 10px;
            }
            p{
                padding: 10px;
                margin: 20px 0;
                font-size: 1.0em;
            }
            ul{
                padding: 10px 30px;
                list-style: square;

                li{
                    font-family: 'Oxygen-Light';
                    margin: 5px 0;
                }
                li::before{
                    left: 0;
                    top: 7px;
                    position: absolute;
                    height: 2px;
                    width: 5px;
                    background: $color;
                    margin: auto 0;
                    margin-right: 10px;
                }
            }
        }

        .panel:nth-child(odd) {
            background:#ffffff;
        }
        .panel:nth-child(even) {
            background:#fafafa;
        }
    }
}