.team {
  text-align: center; }
  .team h2 {
    display: inline-block;
    font-size: 1.5em;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #18C3D8;
    margin: 0 auto;
    margin-bottom: 10px; }
  .team .teamImgs {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .team .teamImgs .teamImg {
      width: 20vw;
      margin: 20px 50px; }
      .team .teamImgs .teamImg .photo {
        height: 20vw;
        width: 20vw;
        border-radius: 100vh;
        background: #18C3D8; }
        @media only screen and (max-width: 850px) {
          .team .teamImgs .teamImg .photo {
            width: 70vw;
            height: 70vw; } }
      @media only screen and (max-width: 850px) {
        .team .teamImgs .teamImg {
          width: 70vw; } }
      .team .teamImgs .teamImg h4 {
        font-size: 1.2em;
        margin: 20px 0; }
      .team .teamImgs .teamImg p {
        font-size: 1.0em; }
