$color:#18C3D8;
@import "mixins";

.team{
    text-align: center;

    h2{
        display: inline-block;
        font-size: 1.5em;
        padding: 0 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $color;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .teamImgs{
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .teamImg{
            width: 20vw;
            margin: 20px 50px;

            .photo{
                height: 20vw;
                width: 20vw;
                border-radius: 100vh;
                background: $color;

                @include respond-to(mobile){
                    width: 70vw;
                    height: 70vw;
                }
            }

            @include respond-to(mobile){
                width: 70vw;
            }

            h4{
                font-size: 1.2em;
                margin: 20px 0;
            }
            p{
                font-size: 1.0em;
            }
        }
    }
}