#thanks{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img{
        max-height: 30vh;
        margin: 50px auto;
    }
    h1{
        padding: 0;
        margin: 0 auto;
        font-size: 2em;
    }
    p{
        margin: 10px 0;
        font-size: 1.2em;
    }
}