body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen'; }

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0; }

.blue {
  color: #18C3D8; }

* {
  transition: all 0.3s ease; }

h1 {
  padding: 100px 100px;
  padding-bottom: 50px;
  font-size: 2.0em;
  font-weight: bold;
  letter-spacing: 1px; }
  @media only screen and (max-width: 850px) {
    h1 {
      padding: 100px 10px;
      padding-bottom: 50px;
      text-align: center; } }

.pageButton {
  text-align: center;
  margin: 50px auto; }

button {
  color: black;
  background: none;
  outline: none;
  border: 1px solid #18C3D8;
  padding: 20px 30px;
  font-size: 1.1em;
  transition: all 0.3s ease; }

button:hover {
  cursor: pointer;
  background: #18C3D8; }

a {
  color: inherit;
  text-decoration: inherit; }

.content {
  min-height: calc(100vh - 50px); }
